<template>
    <div>
        <v-alert :type="alert.variant" v-if="alert.show" class="my-2">
            {{ alert.message }}
        </v-alert>
    </div>
    <div>
        <v-card color="white">
            <v-card-title>{{ statusButton == "tambah" ? "Create Campaign" : "Update Campaign"  }}</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-text-field
                        v-model="campaign.title"
                        :rules="titleRules"
                        label="Title"
                        type="text"
                    ></v-text-field>

                    <v-text-field
                        v-model="campaign.required"
                        :rules="requiredRules"
                        label="Required"
                        type="number"
                    ></v-text-field>

                    <v-textarea
                        v-model="campaign.description"
                        :rules="descriptionRules"
                        label="Description"
                    ></v-textarea>

                    <v-textarea
                        v-model="campaign.address"
                        :rules="addressRules"
                        label="Address"
                    ></v-textarea>

                    <v-text-field
                        v-model="campaign.image"
                        :rules="imageRules"
                        label="Image"
                        type="file"
                        name="image"
                        ref="image"
                    ></v-text-field>

                        <v-btn
                            color="primary"
                            class="mr-4"
                            @click="formSubmit"
                            block
                        >
                            {{ statusButton }}
                        </v-btn>
                </v-form>
            </v-card-text>
        </v-card>
    </div>
</template>
<script>
import { useUserStore } from '@/store/user.js'
export default {
    setup(){
            const userStore = useUserStore()
            return { userStore }
        },
    emits: ['closed', 'reload'],
    props: {
        statusButton: {
            type: String,
            default: 'tambah'
        },
        campaignItem:{
            type: Object,
            default: null,
        }
    },

    created(){
        if(this.campaignItem){
            this.campaign = {
                title: this.campaignItem.title,
                required: this.campaignItem.required,
                description: this.campaignItem.description,
                address: this.campaignItem.address,
                // image: this.campaignItem.image,
                collected: this.campaignItem.collected,
            }
        }
    },

    data(){
        return {
            valid: true,
            alert: {
            show: false,
            message: '',
            variant: '',
            },
            campaign: {
                title: '',
                required: '',
                description: '',
                address: '',
                image: '',
                collected: 0,
            },
            titleRules: [
                v => !!v || 'Title is required',
            ],
            requiredRules: [
                v => !!v || 'Required is required',
            ],
            descriptionRules: [
                v => !!v || 'Description is required',
            ],
            addressRules: [
                v => !!v || 'Address is required',
            ],
            imageRules: [
                v => !!v || 'Image is required',
            ],
        }
    },
    methods: {
        async formSubmit(){
            const {valid} = await this.$refs.form.validate()
            if(valid){
                this.alert.show = true
                this.alert.message = 'Please wait...'
                this.alert.variant = 'warning'
                try {
                    const token = this.userStore.token
                    let image = this.$refs.image.files[0]
                    let formData = new FormData()
                    formData.append('title', this.campaign.title)
                    formData.append('required', this.campaign.required)
                    formData.append('description', this.campaign.description)
                    formData.append('address', this.campaign.address)
                    formData.append('collected', this.campaign.collected)

                    if(image != undefined){
                        formData.append('image', image)
                    }

                    if(this.statusButton == 'tambah'){
                        const config = {
                            headers: {
                                Authorization: `Bearer ${token}`
                            }
                        };

                        const dataResponse = await axios.post('/api/v1/campaigns', formData, config)
                        this.alert.show = true
                        this.alert.message = dataResponse.data.meta.messages
                        this.alert.variant = 'success'
                    } else {
                        const config = {
                            headers: {
                                Authorization: `Bearer ${token}`
                            },
                            params: {
                                _method: 'PUT'
                            }
                        };
                        const dataResponse = await axios.post(`/api/v1/campaigns/${this.campaignItem.id}`, formData, config)
                        this.alert.show = true
                        this.alert.message = dataResponse.data.meta.messages
                        this.alert.variant = 'success'

                    }
                } catch (error) {
                    console.log(error)
                }

                this.close()
            }
        }, 
        async close(){
            await this.$emit('closed')
            await this.$emit('reload')
        }
    },
}
</script>