<template>
    <div>
        <v-alert :type="alert.variant" v-if="alert.show" class="my-2">
            {{ alert.message }}
        </v-alert>
    </div>
    <div class="d-flex justify-end">
        <v-btn icon="mdi-heart" color="primary" size="x-large" class="md-1" @click="getCreate">
            <v-icon size="x-large">mdi-plus-circle</v-icon>
            <v-tooltip activator="parent" location="top">Tambah</v-tooltip>
        </v-btn>
        <v-dialog transition="dialog-bottom-transition" max-width="600" v-model="dialogCreate">
            <action-campaign 
            @closed="dialogCreate=false" 
            @reload="reload" 
            statusButton="tambah"
            ></action-campaign>
        </v-dialog>
    </div>
    <v-table>
        <thead>
            <tr>
                <th class="text-left">Title</th>
                <th class="text-left">Required</th>
                <th class="text-left">Collected</th>
                <th class="text-left">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in campaign" :key="item.title">
                <td>{{ item.title }}</td>
                <td>{{ item.required }}</td>
                <td>{{ item.collected }}</td>
                <td>
                    <v-btn
                        color="info"
                        class="md-1 mx-3"
                        @click="getDetail(item)"
                        >
                        <v-tooltip activator="parent" location="top">Detail</v-tooltip>
                        <v-icon size="x-large">mdi-information-outline</v-icon>
                    </v-btn>
                    <v-btn
                        color="secondary"
                        class="md-1 mx-3"
                        @click="getEdit(item)"
                        >
                        <v-tooltip activator="parent" location="top">Edit</v-tooltip>
                        <v-icon size="x-large">mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn
                        color="error"
                        class="md-1 mx-3"
                        @click="getDelete(item)"
                        >
                        <v-tooltip activator="parent" location="top">Delete</v-tooltip>
                        <v-icon size="x-large">mdi-delete</v-icon>
                    </v-btn>
                </td>
            </tr>
        </tbody>
    </v-table>
    <v-dialog transition="dialog-bottom-transition" max-width="600" v-model="dialogEdit">
        <action-campaign 
        @closed="dialogEdit=false" 
        @reload="reload" 
        statusButton="update"
        :campaignItem="showData"
        ></action-campaign>
    </v-dialog>
    <v-dialog transition="dialog-bottom-transition" max-width="600" v-model="dialogDetail">
        <detail-campaign 
        :campaignItem="showData"
        ></detail-campaign>
    </v-dialog>
    <v-dialog persistent max-width="400" v-model="dialogDelete" class="text-center">
        <v-card>
            <v-card-title class="text-h4 text-center text-danger">
                Delete Data
            </v-card-title>
            <v-card-text class="text-center">
                <div>Yakin ingin hapus {{ showData.title }}</div>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="info" @click="dialogDelete = false">Tidak</v-btn>
                <v-btn color="error" @click="deleteData()">Ya</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script>
import ActionCampaign from './actionCampaign.vue';
import DetailCampaign from './detailCampaign.vue';
import { useUserStore } from '@/store/user.js';
export default {
    setup(){
        const userStore = useUserStore()
        return { userStore}
    },
    props: {
        campaign: Object
    },
    components: {
        ActionCampaign,
        DetailCampaign
    },
    name: 'ListCampaign',
    props: {
        campaign: {
            type: Array,
            required: true
        }
    },
    emits: ['reload'],
    data(){
        return {
            dialogCreate: false,
            dialogEdit: false,
            showData: null,
            dialogDetail: false,
            dialogDelete: false,
            alert: {
                show: false,
                message: '',
                variant: '',
            },


        }
    },
    methods: {
        getCreate(){
            this.dialogCreate = true
        },
        reload(){
            this.$emit('reload')
        },
        getEdit(item){
            this.dialogEdit = true
            this.showData = item
        },
        getDetail(item){
            this.dialogDetail = true
            this.showData = item
        },
        getDelete(item){
            this.dialogDelete = true
            this.showData = item
        },
        async deleteData(){
            this.alert.show = true
            this.alert.message = 'Please wait...'
            this.alert.variant = 'warning'

            try {
                const token = this.userStore.token
                const config = {
                    method: 'post',
                    url: `/api/v1/campaigns/${this.showData.id}`,
                    headers: {
                        Authorization: `Bearer ${token}`
                    },
                    params: {
                        _method: 'DELETE'
                    }
                };
                const dataResponse = await axios(config)
                this.alert.show = true
                this.alert.message = dataResponse.data.meta.messages
                this.alert.variant = 'success'
                this.dialogDelete = false
                this.reload()
            } catch (error) {
                this.alert.show = true
                this.alert.message = error.response.data.meta.messages
                this.alert.variant = 'error'
            }
        }
    }
}
</script>