<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="row">
            <div class="col">
                <!-- table -->
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Address</th>
                        <th scope="col">Required</th>
                        <th scope="col">Collected</th>
                        <th scope="col">Image</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="campaign of campaigns">
                        {{<th scope="row">{{ campaign.title }}</th>}}
                        <td>{{ campaign.description }}</td>
                        <td>{{ campaign.address }}</td>
                        <td>{{ campaign.required }}</td>
                        <td>{{ campaign.collected }}</td>
                        <td><img :src="campaign.image ? mainDomain + campaign.image : 'https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg'" width="100"></td>
                        <td>
                            <button class="btn btn-primary" @click="editCampaign(campaign)">Edit</button>
                            <button class="btn btn-danger" @click="deleteCampaign(campaign.id)">Delete</button>
                            <button class="btn btn-success" @click="uploadFoto(campaign)">Upload Foto</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col">
                <!-- form -->
                <form @submit.prevent="submitCampaign">
                    <p>
                        <ul>
                            <li v-for="error in errors" class="text-danger">{{ error }}</li>
                        </ul>
                    </p>
                    <div class="form-group">
                        <label for="name">Title</label>
                        <input type="text" class="form-control" id="title" v-model="title" :disabled="buttonStatus == 'upload'">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" v-model="description" :disabled="buttonStatus == 'upload'">
                    </div>
                    <div class="form-group">
                        <label for="description">Address</label>
                        <input type="text" class="form-control" id="address" v-model="address" :disabled="buttonStatus == 'upload'">
                    </div>
                    <div class="form-group">
                        <label for="description">Required</label>
                        <input type="number" class="form-control" id="required" v-model="required" :disabled="buttonStatus == 'upload'">
                    </div>
                    <div class="form-group">
                        <label for="description">Collected</label>
                        <input type="number" class="form-control" id="collected" v-model="collected" :disabled="buttonStatus == 'upload'">
                    </div>
                    <br>
                    <div v-if="buttonStatus == 'submit'">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div v-else-if="buttonStatus == 'update'">
                        <button type="button" @click="updateCampaign(idEditCampaign)" class="btn btn-primary">Update</button>
                        <button type="button" @click="clearForm" class="btn btn-primary">Clear</button>
                    </div>
                    <div v-else-if="buttonStatus == 'upload'">
                        <input type="file" class="form-control" name="image" ref="foto">
                        <button type="button" @click="updateFoto(idUploadImage)" class="btn btn-primary">Upload</button>
                        <button type="button" @click="clearForm" class="btn btn-primary">Clear</button>
                </form>
            </div>
        </div>
    </div>



    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let vm = Vue.createApp({
            data() {
                return {
                    title: '',
                    description: '',
                    address: '',
                    required: '',
                    collected: '',
                    image: '',
                    errors: [],
                    domain: 'http://crowdfunding.test/api/v1',
                    mainDomain: 'http://crowdfunding.test',
                    campaigns : [],
                    buttonStatus: 'submit',
                    idEditCampaign: null,
                    idUploadImage: null,

                }
            },
            methods: {
                validationForm() {
                    this.errors = [];
                    if (this.title < 5) {
                        this.errors.push('Title must be at least 5 characters');
                    }
                    if (this.description < 5) {
                        this.errors.push('Description must be at least 5 characters');
                    }
                    if (this.address == '') {
                        this.errors.push('Address is required');
                    }
                    if (this.required == '') {
                        this.errors.push('Required is required');
                    }
                    
                    return true;
                },
                clearForm(){
                    this.title = '';
                    this.description = '';
                    this.address = '';
                    this.required = '';
                    this.collected = '';
                    this.buttonStatus = 'submit';
                    this.idEditCampaign = null;
                },
                submitCampaign() {
                    if (!this.validationForm()) {
                        return false;
                    }
                    let formData = new FormData();
                    formData.append('title', this.title);
                    formData.append('description', this.description);
                    formData.append('address', this.address);
                    formData.append('required', this.required);
                    formData.append('collected', this.collected);

                    if(this.errors.length == 0){
                        const config = {
                            method : 'post',
                            url : this.domain + '/campaigns',
                            data : formData,
                        }
                        axios(config)
                        .then((response) => {
                            console.log(response);
                            alert(response.data.meta.messages)
                            this.clearForm();
                            this.getCampains();
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                    }
                },

                getCampains() {
                    const config = {
                        method : 'get',
                        url : this.domain + '/campaigns',
                    }
                    axios(config)
                    .then((response) => {
                        console.log(response);
                        this.campaigns = response.data.data.data;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                },

                editCampaign(campaign) {
                    this.title = campaign.title;
                    this.description = campaign.description;
                    this.address = campaign.address;
                    this.required = campaign.required;
                    this.collected = campaign.collected;
                    this.buttonStatus = 'update';
                    this.idEditCampaign = campaign.id;
                },

                updateCampaign(id){
                    this.validationForm();
                    // alert('update')
                    let formData = new FormData();
                    formData.append('title', this.title);
                    formData.append('description', this.description);
                    formData.append('address', this.address);
                    formData.append('required', this.required);
                    formData.append('collected', this.collected);

                    if(this.errors.length == 0){
                        const config = {
                            method : 'post',
                            url : this.domain + '/campaigns/' + id,
                            data : formData,
                            params: {
                                _method: 'PUT'
                            }
                        }
                        axios(config)
                        .then((response) => {
                            console.log(response);
                            alert(response.data.meta.messages)
                            this.clearForm();
                            this.getCampains();
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                    }
                },

                deleteCampaign(id){
                    const config = {
                        method : 'post',
                        url : this.domain + '/campaigns/' + id,
                        params: {
                            _method: 'DELETE'
                        }
                    }
                    axios(config)
                    .then((response) => {
                        console.log(response);
                        alert(response.data.meta.messages)
                        this.clearForm();
                        this.getCampains();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                },

                uploadFoto(campaign){
                    this.title = campaign.title;
                    this.description = campaign.description;
                    this.address = campaign.address;
                    this.required = campaign.required;
                    this.collected = campaign.collected;
                    this.buttonStatus = 'upload';
                    this.idUploadImage = campaign.id;
                },

                updateFoto(id){
                    let formData = new FormData();
                    formData.append('title', this.title);
                    formData.append('description', this.description);
                    formData.append('address', this.address);
                    formData.append('required', this.required);
                    formData.append('collected', this.collected);
                    formData.append('image', this.$refs.foto.files[0]);

                    const config = {
                        method : 'post',
                        url : this.domain + '/campaigns/' + id,
                        data : formData,
                        params: {
                            _method: 'PUT'
                        }
                    }
                    axios(config)
                    .then((response) => {
                        console.log(response);
                        alert(response.data.meta.messages)
                        this.clearForm();
                        this.getCampains();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                }
            },
            mounted() {
                // mounted
                // this.getCampains();

            },
            created() {
                // created
                this.getCampains();
            }
        }).mount('#app')
    </script>
</body>
</html>