<!DOCTYPE html>
<html>

<head>
  <title>VueJS Course</title>
  <style>

</style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <div id="app">
    <label>Role</label> <br>
        <select v-model="role">
            <option value="1">Imposter</option>
            <option value="2">Crew</option>
    </select>

    <p v-if="role == 1">Tugas Anda adalah untuk membunuh semua Crew</p>
    <p v-else-if="role == 2">Anda Bertugas untuk menyelesaikan semua task dan jangan sampai terbunuh</p>
    
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let vm = Vue.createApp({
    data() {
        return {
            role: 0
        }
    }

    }).mount('#app');
  </script>
</body>

</html>