<!DOCTYPE html>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" :key="bird"/>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="animal in animals">
          {{ animal }}
      </li>
    </ul>

    <hr>

    <ul>  
        <li v-for="data in people">
            <div v-for="(person, key) in data">
                {{ key }} : {{ person }}
            </div>
        </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    let vm = Vue.createApp({
    data() {
        return {
            animals: ['Kucing', 'Kelinci', 'Ayam', 'Anggsa'],
            people: [
                { name: 'Rezky', age: 26 },
                { name: 'Andi', age: 18 },
                { name: 'Budi', age: 33 }
            ]
        }
    }
}).mount('#app');

  </script>
</body>

</html>