<template>
    <div>
        <v-alert :type="alert.variant" v-if="alert.show" class="my-2">
            {{ alert.message }}
        </v-alert>
    </div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model="user.email"
        :rules="emailRules"
        label="Email"
        required
      ></v-text-field>

      <v-text-field 
        v-model="user.password"
        :rules="passwordRules"
        label="Password"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPassword ? 'text' : 'password'"
        @click:append="showPassword = !showPassword"
      ></v-text-field>

        <v-btn
            color="success"
            class="mr-4"
            @click="loginSubmit"
        >
            Login
        </v-btn>
      
    </v-form>
</template>

<script>
import { useUserStore } from '@/store/user.js'
  export default {
    emits: ['closeDialog'],
    setup(){
        const userStore = useUserStore()
        return { userStore}
    },
    data: () => ({
      valid: true,
      alert: {
            show: false,
            message: '',
            variant: '',
      },
      user: {
          email: '',
          password: '',
      },
      showPassword: false,
      emailRules: [
        v => !!v || 'email is required',
        v => /.+@.+\..+/.test(v) || 'email must be valid',
      ],
        passwordRules: [
            v => !!v || 'password is required',
        ],
    }),

    methods: {
      async loginSubmit () {
        const { valid } = await this.$refs.form.validate()

        if (valid){
            this.alert.show = true
            this.alert.message = 'Please wait...'
            this.alert.variant = 'warning'
            try {
                const authLogin = await axios.post('/api/v1/auth/login', this.user)
                this.alert.show = true
                this.alert.message = authLogin.data.meta.messages
                this.alert.variant = 'success'
                this.$router.push({ name: 'home' })

                await this.userStore.setToken(authLogin.data.data)
                this.$router.push('/')
                this.$emit('closeDialog')
            } catch (error){
                console.log(error)
                this.alert.show = true
                this.alert.message = error.error
                this.alert.variant = 'error'
            }
        }
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>