<template>
    <div>
        <v-alert :type="alert.variant" v-if="alert.show" class="my-2">
            {{ alert.message }}
        </v-alert>
    </div>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model="user.name"
        :rules="nameRules"
        label="Name"
        required
      ></v-text-field>

      <v-text-field
        v-model="user.email"
        :rules="emailRules"
        label="Email"
        required
      ></v-text-field>

      <v-text-field 
        v-model="user.password"
        :rules="passwordRules"
        label="Password"
        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPassword ? 'text' : 'password'"
        @click:append="showPassword = !showPassword"
      ></v-text-field>

      <v-text-field 
        v-model="user.password_confirmation"
        :rules="passwordRules"
        label="Password Confirmation"
        :append-icon="showPassword2 ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPassword2 ? 'text' : 'password'"
        @click:append="showPassword2 = !showPassword2"
      ></v-text-field>

        <v-btn
            color="success"
            class="mr-4"
            @click="registerSubmit"
        >
            Register
        </v-btn>
      
    </v-form>
</template>

<script>
import { useUserStore } from '@/store/user.js'
  export default {
    emits: ['closeDialog'],
    setup(){
        const userStore = useUserStore()
        return { userStore}
    },
    data(){
        return {
      valid: true,
      alert: {
            show: false,
            message: '',
            variant: '',
      },
      user: {
            name: '',
            email: '',
            password: '',
            password_confirmation: '',
        },
      showPassword: false,
      showPassword2: false,
      emailRules: [
        v => !!v || 'email is required',
        v => /.+@.+\..+/.test(v) || 'email must be valid',
      ],
        passwordRules: [
            v => !!v || 'password is required',
            v => v.length >= 8 || 'password must be at least 8 characters',
            (confirmation) => 
                confirmation === this.user.password || 'passwords must match'
        ],
        nameRules: [
            v => !!v || 'name is required',
        ],
    }},

    methods: {
      async registerSubmit () {
        const { valid } = await this.$refs.form.validate()

        if (valid){
            this.alert.show = true
            this.alert.message = 'Please wait...'
            this.alert.variant = 'warning'
            try {
                const authRegister = await axios.post('/api/v1/auth/register', this.user)
                this.alert.show = true
                this.alert.message = authRegister.data.meta.messages
                this.alert.variant = 'success'
                this.$router.push({ name: 'home' })

                const dataUser = authRegister.data.data.user
                const token = authRegister.data.data.token

                await this.userStore.setVerification(dataUser, token)
                this.$router.push('/verification')
                this.$emit('closeDialog')
            } catch (error){
                console.log(error)
                this.alert.show = true
                this.alert.message = error.error
                this.alert.variant = 'error'
            }
        }
      },
      reset () {
        this.$refs.form.reset()
      },
      resetValidation () {
        this.$refs.form.resetValidation()
      },
    },
  }
</script>