<template>
    <v-card class="mx-auto" max-width="1000" prepend-icon="md-hand-heart">
        <template v-slot:title> Campaign </template>
        <v-card-text>
            <list-campaign :campaign="campaign" @reload="getCampaign"></list-campaign>
        </v-card-text>
    </v-card>
</template>
<script>
    import ListCampaign from '../components/campaign/listCampaign.vue';
    import { useUserStore } from '@/store/user.js'
    export default {
        setup(){
            const userStore = useUserStore()
            return { userStore }
        },
        name: 'Campaign',
        components: {
            ListCampaign
        },
        data(){
            return {
                campaign: []
            }
        },

        methods:{
            async getCampaign(){
                try {
                    const token = this.userStore.token
                    const config = {
                        headers: {
                            Authorization: `Bearer ${token}`
                        }
                    };
                    const campaignData = await axios.get('/api/v1/campaigns', config)
                    this.campaign = campaignData.data.data.data
                    console.log(this.campaign)
                } catch (error) {
                    console.log(error)
                }
            }
        },

        created(){
            this.getCampaign()
        }
    }
</script>