<template>
    <v-card class="mx-auto" max-width="700" variant="outlined">
        <div>
            <v-alert :type="alert.variant" v-if="alert.show" class="my-2">
                {{ alert.message }}
            </v-alert>
        </div>
        <v-card-item>
            <div>
                <div class="text-h3 text-center text-primary my-3">
                    Verifikasi Email
                </div>
                <div class="text-caption text-center my-3">

                </div>
            </div>
        </v-card-item>
        <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                    v-model="otp"
                    :rules="otpRules"
                    label="OTP Code"
                    type="number"
                    required
                ></v-text-field>

                <v-btn
                    color="success"
                    block
                    class="mr-4"
                    @click="verificationSubmit"
                >
                    Submit
                </v-btn>
            </v-form>
        </v-card-text>
        <v-card-text>
            <div class="text-caption text-center">
                Generate Ulang OTP
                <a href="#" @click="generateOtpCode">Klik Disini</a>
            </div>
        </v-card-text>
    </v-card>
</template>
<script>
import { useUserStore } from '@/store/user.js'
import { mapActions, mapWritableState } from 'pinia'
  export default {
    data(){
        return {
      valid: true,
      alert: {
            show: false,
            message: '',
            variant: '',
      },
      valid: false,
      otp: null,
        otpRules: [
            v => !!v || 'OTP is required',
            v => v.length == 6 || 'OTP must be 6 digits',
        ],
    }},

    computed: {
      ...mapWritableState(useUserStore, ['user']),
    },

    methods: {
        ...mapActions(useUserStore, ['verificationEmail']),
      async verificationSubmit(){
        const valid = this.$refs.form.validate()
        if(valid){
            this.alert.show = true
            this.alert.message = 'Please wait...'
            this.alert.variant = 'warning'
            try {
                const verif = await axios.post('/api/v1/auth/verification-email', {
                    email: this.user.email,
                    otp: this.otp
                })
                console.log(verif.data.meta.messages)
                if(verif.data.meta.code == 200){
                    this.alert.show = true
                    this.alert.variant = 'success'
                    this.alert.message = verif.data.meta.messages
                    this.$router.push('/')
                    this.verificationEmail()

                } else {
                    this.alert.show = true
                    this.alert.variant = 'error'
                    this.alert.message = verif.data.meta.messages
                }
            } catch (error) {
                alert(error)
                this.alert.show = true
                this.alert.variant = 'error'
                this.alert.message = error.response.data.meta.messages
            }
        }
      },

      async generateOtpCode(){
        this.alert.show = true
        this.alert.message = 'Please wait...'
        this.alert.variant = 'warning'

        try {
            const generate = await axios.post('/api/v1/auth/generate-otp', {
                email: this.user.email
            })
            this.alert.show = true
            this.alert.message = generate.data.meta.messages
            this.alert.variant = 'success'
        } catch (error) {
            this.alert.show = true
            this.alert.message = error
            this.alert.variant = 'error'
        }
      }
    },
  }
</script>